# Node
node_modules/
npm-debug.log*
yarn-error.log*

# Next.js
.next/
out/
.vercel/

# Env
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log

# OS
.DS_Store
Thumbs.db
.vercel
.env*.local
